.navigate {
    margin: 10px 4%;
}
.a-home {
    color: #444444;
    font-size: 13px;
    font-weight: 500;
}
.a-home:hover {
    color: #48906f;
}
.a-home svg {
    width: 20px;
    color: #444444;
    position: relative;
    top: 3px;
}
.middle-h1, .strength {
    display: flex;
    margin: 0 4%;
}
.h1-left {
    width: 60%;
}
.middle-h1  h1 {
    text-align: left;
    font-size: 3.8vw;
}
.h1-left p, .strength-left p {
    margin: 0 0 10px 0;
    text-align: left;
    font-size: 18px !important;
    font-weight: 400;
}
.middle h3 {
    font-weight: 600;
}
.middle-h1 h3 {
    text-align: left;
    margin: 20px 0;
}
.img-right, .strength-right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-right img {
    width: 100% !important;
}
.strength-left {
    width: 70%;
}
.strength-left h3 {
    margin-left: 0;
}
.strength-right {
    width: 30% !important;
    position: relative;
}
.strength-right img {
    width: 50% !important;
    position: absolute;
    top: -20px;
}
.build-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4%;
}
.build-img img {
    width: 30%;
}
ol {
    margin: 0 4%;
}
ol li {
    margin: 10px 0;
}
@media only screen and (max-width: 1700px) {
    .strength-right img {
        width: 70% !important;
    }
}
@media only screen and (max-width: 1200px) {
    .strength-right img {
        width: 90% !important;
    }
}
@media only screen and (max-width: 850px) {
    .strength-right img {
        width: 110% !important;
    }
}
@media only screen and (max-width: 850px) {
    .navigate {
        margin: 10px 2%;
    }
    .middle-h1, .strength {
        margin: 0 2% !important;
    }
    .middle-h1 p {
        margin: 0 !important;
    }
}
@media only screen and (max-width: 700px) {
    .middle-h1, .strength {
        flex-wrap: wrap;
    }
    .h1-left, .strength-left {
        width: 100%;
    }
    .img-right, .strength-right {
        width: 100%;
    }
    .strength-right {
        width: 100% !important;
    }
    .img-right img {
        width: 80% !important;
    }
    .strength-right img {
        width: 50% !important;
        position: inherit;
        top: 0;
    }
    .strength-left h3, .strength-left p {
        margin-left: 0 !important;
    }
    .build-img {
        margin-top: 30px;
    }
}


