h1, .h1 {
    color: #017152;
    text-align: center;
    margin-bottom: 50px;
}
h2 {
    margin-bottom: 30px;
}
h4 {
    margin-top: 50px;
}
.janna {
    width: 80vw;
    min-height: calc(100vh - 256px);
    color: #444;
    margin: 130px auto 20px auto;
    position: inherit;
    box-sizing: border-box;
    text-align: center;
}
.janna .schedule {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.janna .schedule img {
    width: 49%;
}
.janna b{
    color: #017152;
}
@media only screen and (max-width: 1300px) {
    .janna .schedule {
        flex-wrap: wrap;
    }
    .janna .schedule img {
        width: 100%;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 600px) {
    h1, .h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .janna {
        width: 96vw;
        min-height: calc(100vh - 296px);
        margin-top: 100px;
    }
}