h1, .h1 {
    color: #017152;
    text-align: center;
    margin-bottom: 50px;
}
.janna {
    width: 80vw;
    min-height: calc(100vh - 256px);
    color: #444;
    margin: 130px auto 20px auto;
    position: inherit;
    box-sizing: border-box;
}
.janna .map-ost {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}
.janna .map-ost .city-point {
    height: 30vh;
    width: 30%;
}
.janna .map-ost .city-point ul {
    padding-left: 20px;
}
.janna b{
    color: #017152;
}
@media only screen and (max-width: 900px) {
    .janna .map-ost {
        flex-wrap: wrap;
    }
    .janna .map-ost .city-point {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .janna .map-ost iframe {
        width: 100% !important;
    }
}
@media only screen and (max-width: 600px) {
    h1, .h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .janna {
        width: 96vw;
        margin-top: 100px;
    }
}